@font-face {
    font-family: 'Norse';
    src: url('./fonts/Norse-Bold.woff2') format('woff2'),
        url('./fonts/Norse-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

/* CSS Reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --cover-art-width: 40%;
    --odin-logo-height: 70px;
    --intro-height: 250px;
    --general-padding: 20px;
    --margin-line-break: 20px;
    --input-label-font-size: 0.75rem;
    --input-label-font-weight: 500;
    --base-color: #596D48;
    --background-base-color: rgb(241, 241, 241);
    --input-base-color: #dbb8f7;
    --input-invalid-color: red;
    --input-valid-color: green;
}

body {
    background-color: var(--background-base-color);
    font-family: Arial, Helvetica, sans-serif;
}

img {
    width: 100%;
    height: 100%;
}

label {
    font-size: var(--input-label-font-size);
    letter-spacing: 1px;
    font-weight: var(--input-label-font-weight);
}

button {
    padding: calc(var(--general-padding) / 2 ) calc(var(--general-padding) * 2);
    color: white;
    background-color: var(--base-color);
    border: none;
    font-weight: bold;
    border-radius: 10px;
}

p {
    margin: var(--margin-line-break) 0;
}

a {
    font-weight: bold;
    text-decoration: none;
    color: var(--base-color)
}

.right {
    display: inline-block;
    margin-left: var(--cover-art-width);
}

.left-sidebar {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: var(--cover-art-width);
    height: 100vh;

    background-image: url("images/halie-west-25xggax4bSA-unsplash.jpg");
    background-size: cover;
    color: white;
    
    text-align: center;

    .credit {
        position: absolute;
        bottom: 0;
        width: 100%;
        padding: var(--general-padding);
    }

    .title {
        font-family: "Norse";
        padding: var(--general-padding) 0;
        margin-top: calc(
            var(--intro-height) - var(--odin-logo-height) - var(--general-padding) * 2
        );
        background-color: rgba(0, 0, 0, 0.5);
        font-size: 55px;

        img {
            width: auto;
            height: var(--odin-logo-height);
            vertical-align: sub;
        }
    }
}

.introduction{
    height: var(--intro-height);
    padding: var(--general-padding);
    padding-top: 50px;

    font-size: 1.5rem;
    font-weight: bold;
    text-align: justify;

    p:nth-last-of-type(1) {
        margin-top: var(--margin-line-break);
    } 
}

.information-card {
    color: grey;
    padding: 0;
    margin: 0;
}

.form-section {
    padding: var(--general-padding);
    background: white;
    box-shadow: 0px 1px 5px grey;

    input {
        display: inline-block;
        width: 100%;
        padding: 5px;
        border-radius: 5px;
        border: none;
        outline: 1.5px solid var(--input-base-color);
        
        &:valid {
            outline-color: var(--input-valid-color);
        }
        
        &:invalid {
            outline-color: var(--input-invalid-color);
        }

        &:placeholder-shown {
            outline-color: var(--input-base-color);
        }

        &:focus:placeholder-shown {
            outline-color: blue;
        }

        &:focus {
            box-shadow: 0px 4px 5px grey;
        }
    }

    .form-element {
        display: inline-block;
        width: 40%;
        margin-top: var(--margin-line-break);

        &:nth-of-type(odd) {
            margin-right: var(--margin-line-break);
        }

        &:nth-last-of-type(1) {
            margin-bottom: var(--margin-line-break);
        }
    }
}

.footer-section {
    padding: var(--general-padding);
}

